body {
    display: grid;
    grid-template-rows: minmax(15vh,auto) minmax(70vh,auto) minmax(15vh,auto);
}

.cabecalho{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cabecalho h1{
    font-size: 2em;
    color: white;
}

.conteudo{
    background-color:"";
}

.navegacao{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navegacao svg{
    height: 5vh;
    fill: white;
    stroke: white;
}