.cabecalho h1{
    background-color: black;
    color: white;

    text-align: center;
}

.navegacao{
    height: 30px;
    
    display: flex;
    justify-content: space-around;
}
.navegacao a{
    display: flex;
}
.navegacao a svg{
    fill: black;
    stroke: black;
}