.cabecalho .navegacao{
    display: flex;
    justify-content: space-around;
    height: 30px;
}
.cabecalho .navegacao a{
    display: flex;
}
.cabecalho .navegacao a svg{
    fill: black;
    stroke: black;
}