@import url('../../libs/css/normalize-v8.0.1.css');
@import url('../../libs/css/reset-v2.0.css');

:root{
    --global-black: black;
    --global-white: white;
    --global-lightgray: lightgray;
}
body{
    display: grid;
    grid-template-rows: minmax(15vh,auto) minmax(70vh,auto) minmax(15vh,auto);
}

.cabecalho{
    background-color: var(--global-black);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cabecalho h1{
    font-size: 2em;
    color: var(--global-white);
}

.conteudo{
    overflow-y: scroll;
    height: 70vh;
}

.conteudo__pagina{
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
}
.conteudo__pagina__links{
    text-decoration: none;
    color: var(--global-black);
    font-size: 1.5em;
    background-color: var(--global-lightgray);
    padding: 3vh 0;
}

.navegacao{
   background-color: black;
   position: relative;
}

.navegacao__menu{
    display: none;
    background-color: white;
    position: absolute;
    bottom: 100%;
    width: 100vw;
    height: 85vh;
    overflow-y: auto;
}

.navegacao__menu h1{
    font-size: 2em;
    padding: 3vh 0;
    text-align: center;
    background-color: black;
    color: white;
}

.navegacao__menu ul{
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
}

.navegacao__menu a{
    display: inherit;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 3vh 0;
    background-color: lightgrey;
}

.navegacao__menu a:hover{
    background-color: white;
    
}

.navegacao__funcao{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
}

.navegacao__funcao a{
    display: flex
}

.navegacao__funcao svg{
    height: 5vh;
    fill: var(--global-white);
    stroke: var(--global-white);
}

.lista{
   /* position: absolute;
   height: 100vh;
   width: 100vw;
   background-color: white; */
   /* position: absolute;
   bottom: 100%; */
}

.navegacoes__funcoes{
    /* background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around; */
}
.navegacao__funcoes svg{
    /* height: 5vh;
    fill: var(--global-white);
    stroke: var(--global-white); */
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-track {
    background: black;
}